:root {
	--primary-color: #f9a828;
	--secondary-color: #07617d;
	--background-color: #ffffff;
	--high-contrast-color: #000000;
	--input-bgr-color: #f7f7f7;
	--input-text-color: #ababab;

	--transition-base: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
